body{
  font-family: "Montserrat";
  text-align: center;
}

p{
  color: #8f8f8f;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Montserrat-black";
}

#title{
  background-color: #ff4c68;
  text-align: center;
}

.big-heading {
  font-family: "Montserrat-black";
  font-size: 2.1rem;
  line-height: 2.5rem;
}

.section-heading{
  font-size: 1.8rem;
  line-height: 1.5rem;
}

/* To Make All The Elements Middle & Have Them Equal */
/* Top Right Bottom left */
.container-fluid{
  padding: 4% 9% 15%;
}

/* Color Sections Of The Body */
.colored-section{
  background-color: #ff4c68;
  color: #fff;
}

.white-section{
  background-color: #fff;
}

/* Navigation Bar Are The & Logo & Brand Name Of The Web Page*/
.navbar{
  padding-bottom: 2.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

/* Nav Items Are The Menus Bar */
.nav-item{
  padding: 2px 3px;
}

.nav-link{
  font-size: 1.1rem;
  font-family: "Montserrat-light";
}

/* Download Buttons On The Main Page */
.download-button{
/* Padding Top Right Left Bottom */
  margin: 13% 3% 5% 0%;
}

/* Image On The First Starting Page */
.title-image{
  width: 45%;
  /* transform: rotate(15deg); */
  position: absolute;
  right: 30;
  /* margin: 5px 10px 20px 60px; */
}

/* Features Session (Those Skills Session) */
#features{
  padding: 10% 15%;
  position: relative;
}

.icon{
  color: #ef8172;
  margin-bottom: 1.5rem;
}

.icon:hover{
  color: #ff4c68
}

.feature-title{
  font-size: 1.5rem;
}

/* Testimonials Sessions (For Image Hovering) */
#testimonials{
  /* padding: 2% 5%; */
  background-color: #ff4c68;
}

.testimonial-image{
  width: 25%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.5;
}

.responsives {
  max-width: 100%;
  height: auto;
}

/* The Organized Session */
#press{
  background-color: #ff4c68;
  padding-bottom: 1%;
}

.press-logo{
  width: 10%;
  margin: 20px 20px 20px;
}

/* Carousel Images Shifting Items */
.carousel-item{
  padding: 4% 13%;
}

/* Pricing Session */
#pricing{
  padding: 50px;
}

.pricing-column{
  padding: 1% 4%;
}

.price-text{
  font-size: 1.5rem;
  line-height: 1.1rem;
}

/* CTA Session Last Download Buttons */
/* Its An ID */
#cta {
  background-color: #ff4c68;
  color: #fff;
  padding: 5% 25%;
}

/* Media Query */
/* Mobile Friendly Test (Website For Chechking Ur Website Is Responsive Or Not)*/
@media (max-width: 1200px) {
#title {
  text-align: center;
}

.title-image {
  position: static;
  transform: rotate(0);
  }
}

/* Last Footer Session */
a {
  color: #15080E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.85rem;
  padding: 20px 0;
}

p {
  line-height: 2;
}

.Contact-message {
  width: 30%;
  margin: 40px auto 60px;
}

.bottom-container{
  background-color: #ff4c68;
  padding: 50px 0 20px;
}

.contact-me{
    padding: 20px ;
}

/* For Buttons Color & Hovering */
.button {
  background: #ff4c68;
  background-image: -webkit-linear-gradient(top, #ff4c68, #F54040);
  background-image: -moz-linear-gradient(top, ##ff4c68, #F54040);
  background-image: -ms-linear-gradient(top, ##ff4c68, #F54040);
  background-image: -o-linear-gradient(top, ##ff4c68, #F54040);
  background-image: linear-gradient(top bottom, ##ff4c68, #F54040);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button:hover {
  background: #FF1F77;
  background-image: -webkit-linear-gradient(top, #FF1F77, #ff4c68);
  background-image: -moz-linear-gradient(top, #FF1F77, #ff4c68);
  background-image: -ms-linear-gradient(top, #FF1F77, #ff4c68);
  background-image: -o-linear-gradient(top, #FF1F77, #ff4c68);
  background-image: linear-gradient(top bottom, #FF1F77, #ff4c68);
  text-decoration: none;
}
